
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sideber{
    background-color: rgb(222, 221, 221);
    width: 434px;
    font-family: 'Poppins', 'Helvetica Neue';
    height:100vh ;
}

.sideber nav{
    padding: 45px;
}

.sideber nav li{
    list-style: none;
    font-size: 20px;
    padding: 33px 0;
}

.sideber nav li a{
    text-decoration: none;
    color: black;
}


.main{
    /* background-color: yellow; */
    width: 90vw;
}

.container{
    display: flex;
}

.infoContainer{
    /* background-color: rgb(213, 85, 164); */
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;

}

.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Rajdhani';
}

.hello{
    font-size: 45px;
}
.name{
    font-size: 60px;
    font-family: 'Rajdhani';
}
.about{
    font-size: 30px;
}

.moreabout{
    font-size: 22px;
    font-family: 'Poppins', 'Helvetica Neue';
    margin-top: 20px;

}

.buttons{
    margin-top: 35px;
}

.btn{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-size: bold;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
}

.btn-sm{
    font-size: 14px;
    padding: 10px 19px;
    margin: 12px 0;
}


.btn:hover{
    background-color: white;
    color: dodgerblue;
}

.devPic img{
    height: 65vh;
    margin-top: -5rem;
}

.contactform{
    padding: 0 34px;
    padding-top: 110px;
    font-family: 'Rajdhani';
}

.contactform h1{
    font-family: 'Poppins', 'Helvetica Neue';
    padding: 12px 0;
}

.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input{
    width: 22vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}

#emailHelp{
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

#form-check{
    flex-direction:row ;
}

#form-check-input{
    width: 24px;
    margin: 3px 0;
}

h1{
    font-family: 'Poppins', 'Helvetica Neue';
}

p{
    font-family: 'Rajdhani';
}
.intro h2{
    font-family: 'Poppins', 'Helvetica Neue';
    margin: 12px;
}

.intro p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 12px;
}

.sideber{
    width: 45vh;
}

.about-skills h4{
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 5vh;
    margin-left: 9px;
}

.about-skills .box{
    position: relative;
    width: 90%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
    
}


.about-skills .box h4{
    text-transform: uppercase;
    color: #848c99;
    font-weight: 800;
    font-weight: bold;
    font-family: 'Rajdhani';
    margin-left: 9px;
}

.about-skills .box .percent{
    position: relative;
    width: 70%;
    height: 10px;
    /* background: #f0f0f0; */
    margin-top: 3vh;

}

.about-skills .box .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
    margin-top: 2vh;

}


.main {
    padding: 1rem;
    margin-top: 2rem;
    
}

.imgs{
    display: flex;
    justify-content: space-between;
}



.Projects {
    list-style: none;
    font-size: 20px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.Projects  a{
    text-decoration: none;
    color: black;
}

.Projects a:hover{
    cursor: pointer;
    color:cadetblue;
}
